<div
  class="d-flex flex-column justify-content-center align-items-center text-center min-vh-100"
  style="background-image: url('https://info.6connex.com/hubfs/6_Blog/2023/07_JUL_Social_16x9_Event-Tech-for-Agencies-Blank.jpg');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;"
>
  <div class="card p-5 bg-white bg-opacity-75 shadow-sm m-5" style="max-width: 700px;">
    <h1 class="display-5 fw-bold mb-3">Best Events in Town</h1>
    <p class="lead text-muted mb-4">
      Discover amazing events happening around you. Join us and never miss out on the fun!
    </p>
    <%= link_to "See Events", events_path, class: "btn btn-primary btn-lg px-4" %>
  </div>
</div>
